* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
}

.column {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.color-text {
  color: rgb(255, 132, 71);
}

button:hover {
  background-color: rgb(196, 102, 56);
  transition: all 300ms;
  cursor: pointer;
}

section:nth-child(odd) {
  background-color: rgb(255, 236, 226);
  border-radius: 30px;
}

/* -------------------- NAVIGATION -------------------- */

nav {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.936);
  box-shadow: 0 0 2px orange;
  z-index: 1;
}

nav .column {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px;
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .logo {
  color: white;
  background-color: rgb(255, 132, 71);
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
}

nav .logo-title {
  font-size: 30px;
  color: rgb(100, 100, 100);
}

nav .fa-bars {
  font-size: 40px;
  color: rgb(255, 132, 71);
  display: none;
}

#intro-section .about {
  font-size: 20px;
  color: rgb(100, 100, 100);
  line-height: 1.5;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: rgb(100, 100, 100);
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 300ms;
}

nav li {
  list-style-type: none;
}

.nav-link:hover {
  color: white;
  background-color: rgb(255, 132, 71);
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 300ms;
}

/* -------------------- INTRO -------------------- */

#intro-section {
  margin: 40px;
  scroll-margin-top: 150px;
}

#intro-section .column {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  margin-top: 0px;
}

.intro {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#intro-section .intro-title {
  font-size: 60px;
  margin: 30px 0 0 0;
}

#intro-section .about {
  margin: 30px 0 50px 0;
  line-height: 1.5;
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  border: 1px rgb(149, 149, 149) solid;
  border-radius: 50px;
  padding: 20px;
  padding-left: 24px;
  padding-right: 150px;
  font-size: 18px;
}

#intro-section button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: rgb(255, 132, 71);
  width: 40%;
  padding: 18px;
  border-radius: 30px;
  position: absolute;
  right: 1%;
}

#intro-section button:hover {
  background-color: rgb(196, 102, 56);
  transition: all 300ms;
}

.trusted-customers {
  width: 100%;
  margin: 60px 0;
}

.trusted-customers-text {
  font-size: 16px;
}

.trusted-customers p {
  margin: 30px 0 0 0;
}

.img-list {
  display: flex;
  width: 100%;
}

.trusted-img-wrapper {
  width: 100%;
  margin: 0 30px 0 0;
  display: flex;
  align-items: center;
}

.trusted-img-wrapper img {
  width: 100%;
}

.Gordon {
  font-size: 24px;
}

.intro-photo {
  width: 48%;
}

.dorito-chip {
  width: 100%;
}

/* -------------------- SERVICE -------------------- */

#service {
  margin: 20px 40px;
  padding: 50px 0;
}

#service .column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#service .title {
  font-size: 60px;
  margin-bottom: 30px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 50px;
}

.service-list .wrapper {
  background-color: white;
  border: 2px solid orange;
  border-radius: 150px;
  width: 100%;
  max-width: 80px;
  height: 100%;
  max-height: 80px;
  margin: 0 0 10px 0;
}

.service-list img {
  width: 100%;
  height: 100%;
}

.fast {
  transform: scale(0.85);
}

.cheese-img {
  transform: scale(0.7);
}

.quality {
  transform: scale(0.9);
}

.service {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: calc(30%);
  margin: 20px;
}

.service .info {
  color: rgb(120, 120, 120);
  margin: 20px 0;
  width: 80%;
  line-height: 1.5;
  font-size: 20px;
}

/* -------------------- QUALITY -------------------- */

#quality {
  margin: 50px;
  padding: 50px 0 70px;
}

#quality .container {
  width: 100%;
}

#quality .column {
  width: 100%;
  max-width: 1200px;
}

#quality .left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#quality .title {
  font-size: 60px;
  margin: 0 0 40px 0;
}

#quality .info {
  font-size: 20px;
  color: rgb(100, 100, 100);
  line-height: 1.5;
  margin: 0 0 50px 0;
}

.left-side-button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: rgb(255, 132, 71);
  width: 30%;
  padding: 18px;
  border-radius: 30px;
}

.right-side {
  width: 50%;
}

.right-side .img-wrapper {
  margin-left: 40px;
}

.right-side .img-wrapper img {
  width: 100%;
  border-radius: 50px;
  box-shadow: 0 0 14px 1px;
}

/* -------------------- PRICING -------------------- */

#pricing {
  margin: 0 40px;
  padding: 20px 0 20px 0;
  scroll-margin-top: 150px;
}

#pricing .column {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#pricing .title {
  font-size: 60px;
  margin: 40px 0 40px;
}

#pricing .info {
  font-size: 20px;
  color: rgb(100, 100, 100);
  line-height: 1.5;
  max-width: 600px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

#pricing .info {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.price-wrapper {
  background-color: white;
  border: 2px solid orange;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 60px 0;
  padding: 20px 0;
}

#pricing .p1 {
  color: rgb(101, 101, 101);
  font-size: 20px;
  margin: 20px;
}

.price {
  font-size: 50px;
}

.price-button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: rgb(255, 132, 71);
  width: 100%;
  max-width: 140px;
  padding: 18px;
  border-radius: 30px;
  margin: 30px;
}

#pricing .info {
  width: 100%;
  max-width: 600px;
  margin: 10px;
}

.fine-print {
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
}

/* -------------------- TESTIMONIALS -------------------- */

#testimonials {
  margin: 50px 0 20px 0;
}

#testimonials .column {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#testimonials .title {
  font-size: 60px;
  margin: 50px 0 30px 0;
}

#testimonials .info {
  font-size: 20px;
  color: rgb(100, 100, 100);
  line-height: 1.5;
  margin: 0 0 50px 0;
}

.testimonial-list {
  display: flex;
  width: 100%;
}

.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin: 20px;
}

.testimonial-list .img-wrapper img {
  width: 100%;
  max-width: 100px;
  border-radius: 50px;
  box-shadow: 0 0 10px 1px;
}

.testimonial-wrapper .name {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0;
}

.testimonial-wrapper .testimonial {
  font-size: 18px;
  line-height: 1.5;
}

/* -------------------- FAQS -------------------- */

#faqs {
  margin: 0px 0 100px 0;
}

#faqs .container {
  width: 100%;
  background-color: white;
}

#faqs .column {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#faqs .title {
  font-size: 60px;
  font-weight: bold;
  margin: 50px 0 30px 0;
}

.question-list {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.question_wrapper {
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  margin: 20px 0;
  max-width: 800px;
  cursor: pointer;
  position: relative;
}

.question_wrapper .img-wrapper {
  max-width: 40px;
  max-height: 40px;
  position: absolute;
  top: 4px;
  right: 0;
  margin: 6px 10px;
}

.arrow-img {
  width: 100%;
  height: 100%;
  transform: rotate(-180deg);
  transition: 300ms;
}

.arrow-img.active {
  transform: rotate(-360deg);
  transition: 300ms;
}

.question {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 30px;
}

.answer {
  font-size: 20px;
  line-height: 1.5;
  max-height: 0;
  overflow: hidden;
  margin: 0 30px;
  transition: 300ms;
}

.answer.active {
  max-height: 300px;
  margin: 20px 30px;
  transition: 300ms;
}

/* -------------------- FOOTER -------------------- */

footer {
  background-color: rgb(255, 146, 87);
  margin: 50px 0 0;
  width: 100%;
}

footer .column {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-flow: column;
  margin: 50px;
}

.footer-list {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px;
}

footer h3 {
  color: white;
}

.col {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.col a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
  font-weight: lighter;
}

.end {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.end .logo {
  color: rgb(255, 146, 87);
  font-size: 24px;
}

.logo-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo-wrapper .logo {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin: 0 10px 40px 0;
}

.end .logo-title {
  color: white;
  font-size: 24px;
}

.incorp {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

hr {
  width: 100%;
  max-width: 1000px;
  color: rgb(255, 255, 255);
  border-style: solid;
}

/* -------------------- MEDIA QUERY -------------------- */

@media all and (max-width: 800px) {
  /* ---------- NAV ---------- */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  nav .container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
  }

  nav .link-list {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  nav .link-list ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  nav .link-list li {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  nav .nav-link {
    width: 100%;
    margin: 0 20px;
  }
  nav .nav-link:hover {
    padding: 2px 6px;
  }
  nav .logo,
  nav .logo-title {
    display: none;
  }

  /* ---------- INTRO ---------- */

  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  #intro-section {
    width: 100%;
    margin: 50px 0 0 0;
    scroll-margin: 50px;
  }

  #intro-section .container {
    width: 100%;
    margin: 0;
  }

  #intro-section .dorito-chip,
  #intro-section .intro-photo {
    display: none;
  }

  #intro-section .intro {
    width: 100%;
  }

  #intro-section .intro-title {
    font-size: 40px;
    margin: 30px auto 10px;
  }

  #intro-section .about {
    margin: 40px auto;
  }
  #intro-section .search-input {
    font-size: 16px;
    margin: 10px 0;
  }
  #intro-section .button {
    width: auto;
    height: auto;
  }
  #intro-section .trusted-customers {
    margin: 10px 0;
  }

  /* ---------- SERVICE ---------- */
  #service .column {
    display: flex;
    justify-content: center;
  }

  #service .title {
    text-align: center;
    font-size: 40px;
  }

  #service .service-list {
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0;
  }
  #service .service {
    width: 100%;
  }

  /* ---------- QUALITY ---------- */
  #quality .title {
    font-size: 40px;
    text-align: center;
  }

  #quality .left-side {
    width: 100%;
  }

  #quality button {
    width: 100%;
  }

  #quality .right-side {
    display: none;
  }

  /* ---------- PRICING ---------- */
  #pricing {
    scroll-margin: 80px;
  }
  #pricing .title {
    font-size: 40px;
    text-align: center;
  }
  #pricing .info {
    padding: 10px;
  }
  #pricing .price-container {
    flex-direction: column;
    padding: 0 40px;
  }
  #pricing .price-wrapper {
    margin: 20px auto;
  }
  #pricing .fine-print {
    text-align: center;
    padding: 10px;
  }

  /* ---------- TESTIMONIALS ---------- */
  #testimonials .title {
    font-size: 40px;
  }
  #testimonials .info {
    text-align: center;
    margin: 10px 10px 20px;
  }
  #testimonials .testimonial-list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
  }
  #testimonials .testimonial-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }
  #testimonials .testimonial {
    width: 100%;
    text-align: center;
    padding: 0 20px 40px;
  }

  #testimonials .name {
    margin: 10px;
  }

  /* ---------- FAQ ---------- */
  #faqs .title {
    font-size: 40px;
  }

  #faqs .question-list {
    margin: 0 10px;
  }

  /* ---------- FOOTER ---------- */
  footer .logo,
  footer .logo-title {
    display: none;
  }
  footer .incorp {
    text-align: center;
  }
}
